@{
  Layout = "_Layout";
}
<div id="main">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 col-md-6 col-lg-8" id="firstcol">
        <h2>Here all clients of @Model["stylist"].GetName() </h2><br>

        @if (@Model["clients"].Count == 0)
          {
            <h3>You have no clients in your list.</h3>
          }
          @if (@Model["clients"].Count !=0)
          {
            @foreach (var client in @Model["clients"])
            {
            <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>
            @client.GetClientName()</a></li><br>
            }
          }
            <br><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a><br>
            <form action="/stylists/@Model["stylist"].GetId()/clients/delete" method="post">
              <br><br><button class="second2" type="submit" name="button">Delete ALL Clients</button><br><br><br>
            </form>
      </div>
      <div class="col-6 col-lg-4"id="secondcol"><br>
        <a href="/stylists">List of our Stylists</a><br>
        <a href="/">Back home</a><br>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12r">
        </div>
      </div>
    </div>
  </div>
</div>
